<dynatrace>
    <react>
        <exclude>
            // Recommended filters if you use navigation
            <path name="react-navigation-tabs" event="LIFE"/>
            <path name="react-navigation-stack" event="LIFE"/>
            <path name="react-navigation-drawer" event="LIFE"/>
            <path name="@react-navigation" event="LIFE"/>
         </exclude>
    </react>
    <android>
        <config>
            dynatrace {
                configurations {
                    defaultConfig {
                        autoStart {
                            applicationId '__DYNATRACE_IOS_APP_ID__'
                            beaconUrl 'https://__DYNATRACE_IOS_ENVIRONMENT__.bf.dynatrace.com/mbeacon'
                        }
                    }
                }
            }
        </config>
    </android>
    <ios>
        <config>
            <key>DTXApplicationID</key>
            <string>__DYNATRACE_IOS_APP_ID__</string>
			<key>DTXAgentEnvironment</key>
            <string>__DYNATRACE_IOS_ENVIRONMENT__</string>
			<key>DTXClusterURL</key>
            <string>__DYNATRACE_IOS_CLUSTER_URL__</string>
			<key>DTXManagedCluster</key>
            <false/>
        </config>
    </ios>
</dynatrace>
